<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>영화리스트</title>
</head>
<body>
<a href="/index.html">홈페이지이동</a>
<h1>영화리스트페이지</h1>
<table border="1">
	<tr>
		<!-- <th>영화코드</th> -->
		<th>영화이름</th>
		<th>개봉일</th>
		<th>줄거리</th>
		<th>장르</th>
	
	</tr>
	<tr th:each="movie : ${ movieList }">
		<!-- <td th:text="${ movie.movie_code }"></td> -->
		<td th:text="${ movie.movie_name }"></td>
		<td th:text="${ movie.movie_releaseDate }"></td>
		<td th:text="${ movie.movie_plot }"></td>
		<td th:text="${ movie.movie_genre }"></td>
		<td><a th:href="@{/movie/movieUpdateForm(movie_code=${movie.movie_code})}">수정</a></td>
		<td><a th:href="@{/movie/movieDelete(movie_code=${movie.movie_code})}">삭제</a></td>

	</tr>
</table>
</body>
</html>