<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/iframe.html}">
<div layout:fragment="content">
<h1>영화리스트페이지</h1>
<table class="table">
	<thead align="center">
		<tr>
			<!-- <th>영화코드</th> -->
			<th width="6%">영화이름</th>
			<th width="8%">개봉일</th>
			<th>줄거리</th>
			<th width="5%">장르</th>
			<th width="5%"></th>
			<th width="5%"></th>
		</tr>
	</thead>
	<tbody align="center">
		<tr th:each="movie : ${ movieList }">
			<!-- <td th:text="${ movie.movie_code }"></td> -->
			<td th:text="${ movie.movie_name }"></td>
			<td th:text="${ movie.movie_releaseDate }"></td>
			<td align="left" th:text="${ movie.movie_plot }"></td>
			<td th:text="${ movie.movie_genre }"></td>
			<td><a th:href="@{/movie/movieUpdateForm(movie_code=${movie.movie_code})}">수정</a></td>
			<td><a th:href="@{/movie/movieDelete(movie_code=${movie.movie_code})}">삭제</a></td>
		</tr>
	</tbody>
</table>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</html>