<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/basic.html}">
<div layout:fragment="content">
<h1>영화 인덱스 페이지 입니다!!</h1>
<hr>
<a href="/movie/movieInsertForm">찬호의 영화등록 페이지로 접속</a><hr>
<a href="/movie/movieList">찬호의 영화리스트 페이지로 접속</a><hr>
<a href="/movieTheater/movieTheaterInsertForm">찬호의 영화관등록 페이지로 접속</a><hr>
<a href="/movieTheater/movieTheaterList">찬호의 영화관리스트 페이지로 접속</a><hr>
<a href="/screenTheater/screenTheaterInsertForm">찬호의 상영관등록 페이지로 접속</a><hr>
<a href="/screenTheater/screenTheaterList">찬호의 상영관리스트 페이지로 접속</a><hr>
<a href="/screenSchedule/screenScheduleInsertForm">찬호의 상영스케줄등록 페이지로 접속</a><hr>
<a href="/screenSchedule/screenScheduleList">찬호의 상영스케줄리스트 페이지로 접속</a><hr>

</body>
</html>