<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/basic.html}">
<div layout:fragment="menu">
	<button style="border:1px solid black" class="btn" onclick="movieInsertForm()">영화등록</button>
	<button style="border:1px solid black" class="btn" onclick="movieList()">영화리스트</button>
	<button style="border:1px solid black" class="btn" onclick="movieTheaterInsertForm()">영화관등록</button>
	<button style="border:1px solid black" class="btn" onclick="movieTheaterList()">영화관리스트</button>
	<button style="border:1px solid black" class="btn" onclick="screenTheaterInsertForm()">상영관등록</button>
	<button style="border:1px solid black" class="btn" onclick="screenTheaterList()">상영관리스트</button>
	<button style="border:1px solid black" class="btn" onclick="screenScheduleInsertForm()">상영스케줄등록</button>
	<button style="border:1px solid black" class="btn" onclick="screenScheduleList()">상영스케줄리스트</button>
</div>
<div layout:fragment="content">
	<div id="view">
		<iframe id="iframe" src="" style="display:block; width:80vw; height: 100vh"></iframe>
	</div>
</div>
<script layout:fragment="script">
	function movieInsertForm(){
		$.ajax({
			url:'/movie/movieInsertForm',
			type:'GET',
			success:function(result){
				$('#iframe').attr("src", "/movie/movieInsertForm");
			}
		});
	}
	
	function movieList(){
		$.ajax({
			url:'/movie/movieList',
			type:'GET',
			success:function(result){
				$('#iframe').attr("src", "/movie/movieList");
			}
		});
	}
	
	function movieTheaterInsertForm(){
		$.ajax({
			url:'/movieTheater/movieTheaterInsertForm',
			type:'GET',
			success:function(result){
				$('#iframe').attr("src", "/movieTheater/movieTheaterInsertForm");
			}
		});
	}
	
	function movieTheaterList(){
		$.ajax({
			url:'/movieTheater/movieTheaterList',
			type:'GET',
			success:function(result){
				$('#iframe').attr("src", "/movieTheater/movieTheaterList");
			}
		});
	}
	
	function screenTheaterInsertForm(){
		$.ajax({
			url:'/screenTheater/screenTheaterInsertForm',
			type:'GET',
			success:function(result){
				$('#iframe').attr("src", "/screenTheater/screenTheaterInsertForm");
			}
		});
	}
	
	function screenTheaterList(){
		$.ajax({
			url:'/screenTheater/screenTheaterList',
			type:'GET',
			success:function(result){
				$('#iframe').attr("src", "/screenTheater/screenTheaterList");
			}
		});
	}
	
	function screenScheduleInsertForm(){
		$.ajax({
			url:'/screenSchedule/screenScheduleInsertForm',
			type:'GET',
			success:function(result){
				$('#iframe').attr("src", "/screenSchedule/screenScheduleInsertForm");
			}
		});
	}
	
	function screenScheduleList(){
		$.ajax({
			url:'/screenSchedule/screenScheduleList',
			type:'GET',
			success:function(result){
				$('#iframe').attr("src", "/screenSchedule/screenScheduleList");
			}
		});
	}
	
</script>	
</html>