<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/iframe.html}">
<div layout:fragment="content">
	<form action="/movie/movieUpdate" method="post" th:each="movie : ${ movieList }">
		영화코드<input type="text" name="movie_code" th:value="${movie.movie_code}" readonly><br>
		영화이름<input type="text" name="movie_name" th:value="${movie.movie_name}"><br>
		영화개봉일<input type="text" name="movie_releaseDate" th:value="${movie.movie_releaseDate}"><br>
		영화줄거리<input type="text" name="movie_plot" th:value="${movie.movie_plot}"><br>
		영화장르<input type="text" name="movie_genre" th:value="${movie.movie_genre}"><br>
		<input type="submit">
	</form>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</html>