<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>영화스케줄</title>
</head>
<body>
<h1>영화스케줄페이지</h1>
<table border="1">
	<tr>
		<!-- <th>영화코드</th> -->
		<th>날짜</th>
		<th>영화관</th>
		<th>상영관</th>
		<th>1번째 영화제목</th><!-- 제목이 뜨게했으면 좋겠다 -->
		<th>1번째 영화시간</th>
		<th>1번째 영화 예매좌석</th>
		<th>2번째 영화제목</th><!-- 제목이 뜨게했으면 좋겠다 -->
		<th>2번째 영화시간</th>
		<th>2번째 영화 예매좌석</th>
		<th>3번째 영화제목</th><!-- 제목이 뜨게했으면 좋겠다 -->
		<th>3번째 영화시간</th>
		<th>3번째 영화 예매좌석</th>
		<th>4번째 영화제목</th><!-- 제목이 뜨게했으면 좋겠다 -->
		<th>4번째 영화시간</th>
		<th>4번째 영화 예매좌석</th>
	
	</tr>
	<tr th:each="screScheLst: ${ screScheLst }" >
		<!-- <td th:text="${ screScheLst.screenSchedule_code }"></td> -->
		<td th:text="${ screScheLst.screenSchedule_date }"></td>
		<td th:text="${ screScheLst.movieTheater_name }"></td>
		<td th:text="${ screScheLst.screenTheater_name }"></td>
		<td th:text="${ screScheLst.fstm }"></td>
		<td th:text="${ screScheLst.firstMovie_time }"></td>
		<td th:text="${ screScheLst.firstMovie_reservedSeat }"></td>
		<td th:text="${ screScheLst.scdm }"></td>
		<td th:text="${ screScheLst.secondMovie_time }"></td>
		<td th:text="${ screScheLst.secondMovie_reservedSeat }"></td>
		<td th:text="${ screScheLst.trdm }"></td>
		<td th:text="${ screScheLst.thirdMovie_time }"></td>
		<td th:text="${ screScheLst.thirdMovie_reservedSeat }"></td>
		<td th:text="${ screScheLst.frhm }"></td>
		<td th:text="${ screScheLst.fourthMovie_time }"></td>
		<td th:text="${ screScheLst.fourthMovie_reservedSeat }"></td>
		<!-- <td><a th:href="@{/movie/movieUpdateForm(movie_code=${movie.movie_code})}">수정</a></td> -->
		<!-- <td><a th:href="@{/movie/movieDelete(movie_code=${movie.movie_code})}">삭제</a></td> -->

	</tr>
</table>
</body>
</html>