<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
	layout:decorate="~{layout/basic.html}">
<title>customer list</title>
<head>
<style>
table tbody tr:hover {
	background-color: lightgray;
}
</style>
</head>
<div layout:fragment="content">
	<h1>고객정보 페이지입니다</h1>
	<hr>

	<div>
		<input type="text" id="search_cusId" placeholder="고객코드를 입력해주세요.">
		<input type="button" value="검색" onclick="searchCusId()">
		<button onClick="window.location.reload()">초기화</button>
		<button onclick="deleteCus()">삭제</button>
		<button onclick="modifyCus()">수정</button>
	</div>
	<br>
	<div class="table-responsive">
	<table class= "table" border="1" >
		<thead>
			<tr align="center">
				<td>선택</td>
				<td>고객코드</td>
				<td>이름</td>
				<td>생년월일</td>
				<td>전화번호</td>
			</tr>
		</thead>
		<tbody id="foundCus">
			<tr th:each="list : ${list}" align="center" onclick="selectRow(this)">
				<td><input class="sel" type="checkbox" name="cus"
					th:value="${list.cusId}" /></td>
				<td th:text="${list.cusId}"></td>
				<td th:text="${list.cusName}"></td>
				<td th:text="${list.Birth}"></td>
				<td th:text="${list.Phone}"></td>
			</tr>
		</tbody>
	</table>
	</div>
	<br>
	<button onclick="cancel()">돌아가기</button>
</div>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script layout:fragment="script" th:inline="javascript">

	function cancel(){
		location.href='main'
	}
	function deleteCus(){
		let selectedColumns = new Array();
		$("input[name='cus']:checked").each(function(i){
			selectedColumns.push($(this).val());
		});
	if(selectedColumns.length==0){
		alert('삭제할 행을 선택해주세요.');
		return;
	}
	$.ajax({
		url:'delete',
		data:{
			'selectedColumns':selectedColumns
		},
		type:'POST',
		success:function(result){
			if(result==1){
				alert('고객정보가 삭제되었습니다.');
				location.href='list';
			}else {
				alert('고객정보삭제에 실패하였습니다! 관리자에게 문의하세요.')
			}
		}
	});
	}
	function modifyCus(){
		if(cusId==0){
			alert('수정할 행을 선택해주세요.');
			return;
		}
		location.href='modify?cusId='+cusId;
	}
	let cusId = 0;
	function selectRow(target){
		let tbody = target.parentNode;
		let trs = tbody.getElementsByTagName('tr');
		for (let i = 0; i< trs.length; i++) {
			if(trs[i] == target) {
				trs[i].style.backgroundColor = 'lightgray';
				let td = trs[i].getElementsByTagName('td');
				cusId = td[1].innerText;
			} else {
				trs[i].removeAttribute('style');
			}
		}
	}
	
	function searchCusId(){
    	let search_cusId = $('#search_cusId').val();
    	if(search_cusId==''){
    		alert('고객코드를 입력해주세요.');
    		return;
    	}
    	if(search_cusId!='search_id'){
    		alert('고객정보가 존재하지않습니다.')
    		return;
    	}
    	$.ajax({
    		url:'search',
    		data:{
    			'search_cusId':search_cusId
    		},
    		type:'POST',
    		success:function(result){
    			$('#foundCus').children().remove();
    			result.forEach(function(cus){
    				console.log(cus);
    				let child = `<tr align = "center" onclick="selectRow(this)">
    					<td><input class="sel" type="checkbox" name="cus" value=`+ cus.cusId +`></td>
    					<td>`+cus.cusId+`</td>
    					<td>`+cus.cusName+`</td>
    					<td>`+cus.birth+`</td>
    					<td>`+cus.phone+`</td>
    					</tr>`;
    				$('#foundCus').append(child);
    			});
    		}
    	});
    }
</script>