<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
	<button style="border:1px solid black" class="btn" onclick="signup()">고객가입</button>
	<button style="border:1px solid black" class="btn" onclick="list()">고객조회</button>
	<button style="border:1px solid black" class="btn" onclick="pointList()">포인트관리</button>
	<hr>
	<div id="view">
		<iframe id="iframe" src="" style="display:block; width:80vw; height: 100vh"></iframe>
	</div>
</div>
<script layout:fragment="script" th:inline="javascript">
	function signup() {
		$.ajax({
			url : 'signup',
			type : 'GET',
			success : function(result) {
				/* $('#iframe').empty();
				$('#iframe').append(result); */
				$('#iframe').attr("src", "signup");
			}
		});
	}
	
	function list() {
		$.ajax({
			url : 'list',
			type : 'GET',
			success : function(result) {
				$('#iframe').attr("src", "list");
			}
		});
	}
	
	function pointList() {
		$.ajax({
			url : 'pointList',
			type : 'GET',
			success : function(result) {
				$('#iframe').attr("src", "pointList");
			}
		});
	}
</script>
</html>