<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
	layout:decorate="~{layout/iframe.html}">
<title>point list</title>
<head>
<style>
table tbody tr:hover {
	background-color: lightgray;
}
</style>
</head>
<div layout:fragment="content">
	<h1>포인트관리 페이지입니다</h1>
	<hr>

	<div>
		<input type="text" id="search_point_name" placeholder="고객코드를 입력해주세요.">
		<input type="button" value="검색" id="search_modal_open_btn"	onclick="openPointModal()"> 
		<input type="button" value="삭제" onclick="deletePo()">
		<input type="button" value="수정" onclick="modifyPo()">
	</div>
	<br>
	<div class="table-responsive">
		<table class="table" border="1">
			<thead>
				<tr align="center">
					<td>선택</td>
					<td>고객코드</td>
					<td>이름</td>
					<td>포인트내용</td>
					<td>포인트</td>
					<td>일시</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="plist : ${plist}" align="center"
					onclick="selectRow(this)">
					<td><input class="sel" type="checkbox" name="point"
						th:value="${plist.cusId}" /></td>
					<td th:text="${plist.cusId}"></td>
					<td th:text="${plist.cusName}"></td>
					<td th:text="${plist.res}"></td>
					<td th:text="${plist.getP}"></td>
					<td th:text="${plist.pDate}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<button onclick="cancel()">돌아가기</button>

	<div id="myModal" class="modal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h2>고객별 포인트검색</h2>
					<input type="text" id="search_point_name_modal"
						placeholder="고객코드를 입력해주세요."> <input type="button"
						value="검색" onclick="pSearch()">
				</div>
				<div class="modal-body table-responsive">
					<table class="table" border="1">
						<thead>
							<tr align="center">
								<td>고객코드</td>
								<td>이름</td>
								<td>포인트내용</td>
								<td>포인트</td>
								<td>일시</td>
							</tr>
						</thead>
						<tr>
						<tbody id="foundPoint"></tbody>
						<td colspan="6" align="right">잔여포인트 : <sapn
								id="selectedPoint">0</sapn></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<input type="button" value="확인" onclick="ok()"> <input
						type="button" id="search_modal_close_btn" value="취소"
						onclick="closePointModal()">
				</div>
			</div>
		</div>
	</div>
</div>
<script layout:fragment="script" th:inline="javascript">
	
	function deletePo() {
		let selectedColumns = new Array();
		$("input[name='point']:checked").each(function(i){
			selectedColumns.push($(this).val());
		});
		if(selectedColumns.length==0){
			alert('삭제할 행을 선택해주세요.');
			return;
		}
	$.ajax({
		url:'deletePo',
		data:{
			'selectedColumns':selectedColumns
		},
		type:'POST',
		success:function(result){
			console.log(result)
			if(result==1){
				alert('포인트가 삭제되었습니다.');
				location.href='pointList';
			} else {
				alert('포인트삭제에 실패하였습니다! 관리자에게 문의하세요.')
			}
		}
	});
	}
	function modifyPo(){
		if(cusId==0){
			alert('수정할 행을 선택해주세요.');
			return;
		}
		location.href='modifyPo?cusId='+cusId;
	}
	
	let cusId = 0;
	function selectRow(target){
		let tbody = target.parentNode;
		let trs = tbody.getElementsByTagName('tr');
		for (let i = 0; i< trs.length; i++) {
			if(trs[i] == target) {
				trs[i].style.backgroundColor = 'lightgray';
				let td = trs[i].getElementsByTagName('td');
				cusId = td[1].innerText;
			} else {
				trs[i].removeAttribute('style');
			}
		}
	}
	
	function openPointModal(){
		let search_point_name = $('#search_point_name').val();
		if(search_point_name!=''){
			$('input[id=search_point_name_modal]').attr('value', search_point_name);
			pSearch();
			const modal = new bootstrap.Modal(document.querySelector(".modal"));
			modal.show();
		} else {
			alert('고객코드를 입력해주세요.');
			return;
		}
	}
	
	function pSearch(){
		let search_point_name_modal = $('#search_point_name_modal').val();
		if(search_point_name_modal==''){
			alert('고객코드를 입력해주세요.');
			return;
		}
		
		$('#foundPoint').children().remove();
		$.ajax({
			url:'pSearch',
			data:{
				'search_point_name_modal':search_point_name_modal
			},
			type:'POST',
			success:function(result){
				console.log(result);
				if(search_point_name_modal !='search_point_name_modal'){
					$('#selectedPoint').text(0);
				}
				let pSum=0;
				result.forEach(function(cus){
					pSum+=parseInt(cus.getP);
					let child = `<tr align="center">
					<td>`+cus.cusId+`</td>
    				<td>`+cus.cusName+`</td>
    				<td>`+cus.res+`</td>
    				<td>`+cus.getP+`</td>
    				<td>`+cus.pdate+`</td>
    				</tr>`;
    				$('#foundPoint').append(child);
    				$('#selectedPoint').text(pSum);
    				
				});
			}
		});
	}
	function closePointModal(){
		$("#myModal").modal('hide');
	}
	
	function cancel() {
		location.href = 'main';
	}
	function ok() {
		location.href = 'pointList'
	}

</script>
</html>