<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/iframe.html}">
<div layout:fragment="content">
	<h1>영화관리스트페이지</h1>
	<table class="table">
		<thead align="center">
			<tr>
				<!-- <th>영화관코드</th> -->
				<th>영화관이름</th>
				<th>영화관장소</th>
				<th>영화관전화번호</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody align="center">
			<tr th:each="movieThea : ${ movieTheaterList }">
				<!-- <td th:text="${ movieThea.movieTheater_code }"></td> -->
				<td th:text="${ movieThea.movieTheater_name }"></td>
				<td th:text="${ movieThea.movieTheater_place }"></td>
				<td th:text="${ movieThea.movieTheater_tel }"></td>
				<td><a th:href="@{/movieTheater/movieTheaterUpdateForm(movieTheater_code=${movieThea.movieTheater_code})}">수정</a></td>
				<td><a th:href="@{/movieTheater/movieTheaterDelete(movieTheater_code=${movieThea.movieTheater_code})}">삭제</a></td>
			</tr>
		</tbody>
	</table>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</html>