<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/iframe.html}">
<div layout:fragment="content">
	<h1>상영관리스트페이지</h1>
	<table class="table">
		<thead align="center">
			<tr>
				<!-- <th>상영관코드</th> -->
				<th>영화관이름</th>
				<th>상영관이름</th>
				<th>상영관가격</th>
			
			</tr>
		</thead>
		<tbody align="center">
			<tr th:each="slst : ${ screenTheaterList }">
				<!-- <td th:text="${ slst.screenTheater_code }"></td> -->
				<td th:text="${ slst.movieTheater_name }"></td>
				<td th:text="${ slst.screenTheater_name }"></td>
				<td th:text="${ slst.screenTheater_price }"></td>
				<td><a th:href="@{/screenTheater/screenTheaterDelete(screenTheater_code=${slst.screenTheater_code})}">삭제</a></td>
			</tr>
		</tbody>
	</table>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</html>