<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>product list</title>
</head>
<body>
<h1>product list페이지입니다</h1><hr>
<button>등록</button>
<button>삭제</button>
<button>수정</button>
<table border="1">
	<tr align="center">
		<td>선택</td>
		<td>상품번호</td>
		<td>상품명</td>
		<td>상품가격</td>
		<td>상품재고</td>
	</tr>
	<tr th:each="list : ${list}" align="center">
		<td><input type="checkbox"/></td>
		<td th:text="${list.product_id}"></td>
		<td th:text="${list.product_name}"></td>
		<td th:text="${list.product_price}"></td>
		<td th:text="${list.product_stock}"></td>
	</tr>
</table>
</body>
</html>