<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/basic.html}">
<div layout:fragment="content">
<h1>상품수정 페이지입니다</h1><hr>
<form id="addProductForm" action="add" method="post">
	상품번호 : <input id="product_id" type="text" name="product_id" th:value="${productDTO.product_id}" readonly /><br>
	상품명 : <input id="product_name" type="text" name="product_name" th:value="${productDTO.product_name}" /><br>
	상품가격 : <input id="product_price" type="number" name="product_price" th:value="${productDTO.product_price}" /><br>
</form>
<button onclick="confirm()">확인</button>
<button onclick="cancel()">취소</button>
</div>
<script layout:fragment="script" th:inline="javascript">
	function confirm(){
		let product_id = document.getElementById("product_id").value;
		let product_name = document.getElementById("product_name").value;
		let product_price = document.getElementById("product_price").value;
		
		if(product_id==null || product_id==''){
			alert("상품번호에 값을 입력해주세요.");
			return;
		}
		if(product_name==null || product_name==''){
			alert("상품명에 값을 입력해주세요.");
			return;
		}
		if(product_price==null || product_price==''){
			alert("상품가격에 값을 입력해주세요.");
			return;
		}
		
		let formData = new FormData($("#addProductForm")[0]);
		$.ajax({
			url:'add',
			data:formData,
			type:'POST',
			contentType: false,
			processData: false,
			success:function(result){
				if(result==1){
					alert('상품이 수정되었습니다.');
					location.href='list';
				} else {
					alert('상품수정에 실패하였습니다! 관리자에게 문의하세요.');
				}
			}
		});
	}
	
	function cancel(){
		location.href='list';
	}
</script>
</html>