<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
	layout:decorate="~{layout/iframe.html}">
<head>
<style>
table tbody tr:hover {
	background-color: lightgray;
}
</style>

</head>
<div layout:fragment="content">
	<h1>상품목록 페이지입니다</h1>
	<hr>
	<button onclick="addProduct()">등록</button>
	<button onclick="deleteProduct()">삭제</button>
	<button onclick="modifyProduct()">수정</button>
	<table class="table" border="1">
		<thead>
			<tr align="center">
				<td onclick="sel()">선택</td>
				<td>상품번호</td>
				<td>상품명</td>
				<td>상품가격</td>
				<td>상품재고</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}" align="center" onclick="selectRow(this)">
				<td><input class="sel" type="checkbox" name="sel"
					th:value="${list.product_id}" /></td>
				<td th:text="${list.product_id}"></td>
				<td th:text="${list.product_name}"></td>
				<td th:text="${list.product_price}"></td>
				<td th:text="${list.product_stock}"></td>
			</tr>
		</tbody>
	</table>
</div>
<script layout:fragment="script" th:inline="javascript">
	function cancel(){
		location.href='/product/index'
	}
	
	//전체선택
	let selBtn = false;
	function sel(){
		let checkboxes = document.querySelectorAll('input[class="sel"]');
		if(selBtn==true){
			checkboxes.forEach((checkbox)=>{
				checkbox.checked=false;
			});
			selBtn=false;
		} else {
			checkboxes.forEach((checkbox)=>{
				checkbox.checked=true;
			});
			selBtn=true;			
		}
	}
	
	function addProduct(){
		location.href='add';
	}
	
	function deleteProduct(){
		let selectedColumns = new Array();
		$("input[name='sel']:checked").each(function(i){   //jQuery로 for문 돌면서 check 된값 배열에 담는다
			selectedColumns.push($(this).val());
		});
		
		if(selectedColumns.length==0){
			alert('삭제할 행을 선택해주세요.');
			return;
		}
		
		$.ajax({
			url:'delete',
			data:{
				'selectedColumns':selectedColumns
				},
			type:'POST',
			success:function(result){
				if(result==1){
					alert('상품이 삭제되었습니다.');
					location.href='list';
				} else {
					alert('입고내역이 있는 상품은 삭제할 수 없습니다.');
				}
			}
		});
	}
	
	function modifyProduct(){
		if(product_id==0){
			alert('먼저 수정할 행을 선택해주세요.');
			return;
		}
		location.href='modify?product_id='+product_id;
	}
	
    let product_id = 0;
	function selectRow(target){
		let tbody = target.parentNode;
	    let trs = tbody.getElementsByTagName('tr');
	    for (let i = 0; i < trs.length; i++ ) {
	        if ( trs[i] == target ) {
	            trs[i].style.backgroundColor = 'lightgray';
	            let td = trs[i].getElementsByTagName('td');
	            product_id = td[1].innerText;
	        } else {
	        	trs[i].removeAttribute('style');
	        }
	    }
	}
</script>