<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/basic.html}">
<div layout:fragment="content">
	<button onclick="cancel()">돌아가기</button>
	<h1>상품입고 페이지입니다</h1>
	<hr>
	상품검색
	<div>
		<input type="text" id="search_product_name" placeholder="상품명을 입력해주세요.">
		<input type="button" value="검색" id="search_modal_open_btn" onclick="openReceivingProductPopupModal()">
	</div>
	<hr>
	입고목록
	<table class="table" border="1">
		<thead>
			<tr align="center">
				<td>상품번호</td>
				<td>상품명</td>
				<td>상품가격</td>
				<td>입고수량</td>
				<td></td>
			<tr>
		</thead>
		<tbody id="selectedProducts">
		</tbody>
	</table>
	<hr>
	<div>
		<button onclick="receiving()">입고</button>
		<button onclick="reset()">RESET</button>
	</div>
	<div id="myModal" class="modal" tabindex="-1">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h2>상품검색</h2>
					<input type="text" id="search_product_name_modal" placeholder="상품명을 입력해주세요.">
					<input type="button" value="검색" onclick="searchProduct()">
				</div>
				<div class="modal-body table-responsive">
					<table class="table" border="1">
						<thead>
							<tr align="center">
								<td onclick="sel()">선택</td>
								<td>상품번호</td>
								<td>상품명</td>
								<td>상품가격</td>
								<td>재고</td>
							<tr>
						</thead>
						<tbody id="foundProducts">
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<input type="button" value="선택" onclick="selectProducts()">
				<input type="button" id="search_modal_close_btn" value="취소" onclick="closeReceivingProductPopupModal()">
				</div>
			</div>
		</div>
	</div>
</div>	
<script layout:fragment="script" th:inline="javascript">
	//전체선택
	let selBtn = false;
	function sel(){
		let checkboxes = document.querySelectorAll('input[name="searchedProductSel"]');
		if(selBtn==true){
			checkboxes.forEach((checkbox)=>{
				checkbox.checked=false;
			});
			selBtn=false;
		} else {
			checkboxes.forEach((checkbox)=>{
				checkbox.checked=true;
			});
			selBtn=true;			
		}
	}

    function openReceivingProductPopupModal() {
    	let search_product_name = $('#search_product_name').val();
    	if(search_product_name!=''){
	    	$('input[id=search_product_name_modal]').attr('value',search_product_name);
	        //document.getElementById("modal").style.display="block";
	        searchProduct();
	        const modal = new bootstrap.Modal(document.querySelector(".modal"));
	    	modal.show();
    	} else {
    		alert('상품명을 입력해주세요.');
    		return;
    	}
    }
   
    function closeReceivingProductPopupModal() {
        $("#myModal").modal('hide');
    }
    
    function cancel(){
    	location.href='/product/index'
    }
    
    function searchProduct(){
    	let search_product_name_modal = $('#search_product_name_modal').val();
    	if(search_product_name_modal==''){
    		alert('상품명을 입력해주세요.');
    		return;
    	}
    	$('#foundProducts').children().remove();
    	$('#selectedProudctsPrice').text(0);
    	$.ajax({
			url:'search',
			data:{
				'search_product_name_modal':search_product_name_modal
				},
			type:'POST',
			success:function(result){
				result.forEach(function(productDTO){
					let child = `<tr align="center">
				    	<td><input type='checkbox' name="searchedProductSel"></td>
				    	<td>`+productDTO.product_id+`</td>
				    	<td>`+productDTO.product_name+`</td>
				    	<td>`+productDTO.product_price+`</td>
				    	<td>`+productDTO.product_stock+`</td>
				    	</tr>`;
					$('#foundProducts').append(child);
				});
			}
		});
    }
        
    let selectedProductsSet = new Set();
    function selectProducts(){
    	let searchedProductSel = $("input[name='searchedProductSel']:checked"); 
		if(searchedProductSel.length==0){
			alert('판매할 상품을 선택해주세요.');
			return;
		}
    	let selectedColumns = new Array();
    	searchedProductSel.each(function(i){   //jQuery로 for문 돌면서 check 된값 배열에 담는다
			let productId = $(this).parent().next().text();
			let productName = $(this).parent().next().next().text();
			let productPrice = $(this).parent().next().next().next().text();
			if(selectedProductsSet.has(productId)){
				selectedColumns=[];
				alert('이미 선택한 상품은 다시 선택할 수 없습니다.');
				return false;
			}
			selectedColumns.push({productId,productName,productPrice});
		});
    	
    	if(selectedColumns.length==0){
    		return;
    	}
    	
		selectedColumns.forEach(e=>{
			let child = `<tr align="center">
		    	<td class="product_id">`+e.productId+`</td>
		    	<td>`+e.productName+`</td>
		    	<td>`+e.productPrice+`</td>
		    	<td><input class="product_num" type="number" name="selectedProductNum" value=0 oninput="modifyNum(this)"></td>
		    	<td><button onclick="deleteProduct(this)">삭제</button></td>
		    	</tr>`;
			$('#selectedProducts').append(child);
			selectedProductsSet.add(e.productId);
		});
		$('#totalPrice').text(parseInt($('#totalPrice').text())+parseInt($('#selectedProudctsPrice').text()));
		closeReceivingProductPopupModal();
    }
    
    function modifyNum(target){
    	if(target.value<0){
    		target.value=0;
    	}
    }
    
    function deleteProduct(target){
    	let productId = target.parentNode.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.previousSibling.innerText;
    	let trs = target.parentNode.parentNode;
    	trs.remove();
    	selectedProductsSet.delete(productId);
    }
    
    function reset(){
    	$('#selectedProducts').children().remove();
    	selectedProductsSet.clear();
    	$('#search_product_name').val('');
    }
    
    function receiving(){
    	if(selectedProductsSet.size==0){
    		alert('선택된 상품이 없습니다.');
    		return;
    	}
    	
    	let selectedProducts = $('#selectedProducts');
    	let product_id = document.querySelectorAll('.product_id');
    	let product_num = document.querySelectorAll('.product_num');
    	
    	let selectedProductsArray = new Array();
    	for(var i=0; i<selectedProducts.children().length ;i++){
    		if(product_num[i].value<=0){
    			selectedProductsArray = new Array();
    			alert("입고수량은 1보다 작을 수 없습니다.")
    			return false;
    		}
	    	let selectedProductsMap = {
	    			product_id : product_id[i].innerHTML, 
	    			product_num : product_num[i].value
	    			};
	    	selectedProductsArray.push(selectedProductsMap);
    	}
    	
    	if (!confirm("입고 하시겠습니까?")) {
            // 취소(아니오) 버튼 클릭 시 이벤트
            alert("취소하였습니다.")
        } else {
            // 확인(예) 버튼 클릭 시 이벤트
        	$.ajax({
				url:'receivingProduct',
				type:'POST',
				contentType:'application/json',
				data:JSON.stringify(
						{
							'selectedProductsArray':selectedProductsArray,
							}
						),
				success:function(result){
					alert("입고가 완료되었습니다.")
		            reset();
				}
			});
        }
    }
</script>
</html>