<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
layout:decorate="~{layout/iframe.html}">
<head>
<style>
	table tbody tr:hover {
		background-color: lightgray;
	}
</style>
</head>
<div layout:fragment="content">
	<h1>상품입고내역 페이지입니다</h1>
	<table class="table" border="1">
		<thead>
			<tr align="center">
				<td>상품번호</td>
				<td>상품명</td>
				<td>상품가격</td>
				<td>총입고횟수</td>
				<td>총입고수량</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}" align="center" onclick="selectRow(this)">
				<td class="product_id" th:text="${list.product_id}"></td>
				<td th:text="${list.product_name}"></td>
				<td th:text="${list.product_price}"></td>
				<td th:text="${list.receiving_order}"></td>
				<td th:text="${list.receiving_num}"></td>
			</tr>
		</tbody>
	</table>
	<hr>
	<h2>입고상세내역</h2>
	<button onclick="modifyReceiving()">입고수정</button>
	<table class="table" border="1">
		<thead>
			<tr align="center">
				<td>입고차수</td>
				<td>입고수량</td>
				<td>등록자</td>
				<td>등록일</td>
			</tr>
		</thead>
		<tbody id="selectedProductDetails">
		</tbody>
	</table>
</div>	
<script layout:fragment="script" th:inline="javascript">
	function cancel(){
		location.href='/product/index'
	}
	
	let product_id = 0;
	function selectRow(target){
		receiving_order = 0;
		receiving_date = '';
		let tbody = target.parentNode;
	    let trs = tbody.getElementsByTagName('tr');
	    for (let i = 0; i < trs.length; i++ ) {
	        if ( trs[i] == target ) {
	            trs[i].style.backgroundColor = 'lightgray';
	            let td = trs[i].getElementsByTagName('td');
	            product_id = td[0].innerText;
	        } else {
	        	trs[i].removeAttribute('style');
	        }
	    }
	    
	    $.ajax({
			url:'receivingProductDetails',
			type:'POST',
			data:{
				'product_id':product_id
				},
			success:function(result){
				$('#selectedProductDetails').children().remove();				
				result.forEach(function(detail){
					let child = `<tr align="center" onclick="selectDetail(this)">
					<td>`+detail.receiving_order+`</td>
					<td>`+detail.receiving_num+`</td>
					<td>`+detail.receiving_user_id+`</td>
					<td>`+detail.receiving_date+`</td>
					</tr>`;
					$('#selectedProductDetails').append(child);
				});
			}
		});
	}
	
	let receiving_order = 0;
	let receiving_date = '';
	function selectDetail(target){
		let tbody = target.parentNode;
	    let trs = tbody.getElementsByTagName('tr');
	    for (let i = 0; i < trs.length; i++ ) {
	        if ( trs[i] == target ) {
	            trs[i].style.backgroundColor = 'lightgray';
	            let td = trs[i].getElementsByTagName('td');
	            receiving_order = td[0].innerText;
	            receiving_date = td[3].innerText;
	        } else {
	        	trs[i].removeAttribute('style');
	        }
	    }
	}
	
	function modifyReceiving(){
		if(product_id==0 || receiving_order==0){
			alert('먼저 입고수정할 데이터를 선택해주세요.');
			return;
		}
		if (!confirm("상품번호["+product_id+"] - 입고차수["+receiving_order+"]을 입고수정 하시겠습니까?")) {
            // 취소(아니오) 버튼 클릭 시 이벤트
            alert("취소하였습니다.")
        } else {
        	location.href="receivingProductModify?product_id="+product_id+"&receiving_order="+receiving_order;
        }
	}
</script>