<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thtmeleaf/layout"
	layout:decorate="~{layout/iframe.html}">
<head>
<style>
table tbody tr:hover {
	background-color: lightgray;
}
</style>
</head>
<div layout:fragment="content">
	<h1>상품판매내역 페이지입니다</h1>
	<hr>
	<button onclick="cancelSell()">판매취소</button>
	<button onclick="modifySell()">판매수정</button>
	<table class="table" border="1">
		<thead>
			<tr align="center">
				<td>영수번호</td>
				<td>고객번호</td>
				<td>판매상품수</td>
				<td>판매자</td>
				<td>판매일자</td>
				<td>구매자</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${list}" align="center" onclick="selectRow(this)">
				<td class="sell_no" th:text="${list.sell_no}"></td>
				<td th:text="${list.user_id}"></td>
				<td th:text="${list.sales_num}"></td>
				<td th:text="${list.sales_user_id}"></td>
				<td th:text="${list.sell_date}"></td>
				<td th:text="${list.cusId}"></td>
			</tr>
		</tbody>
	</table>
	<hr>
	<h2>판매상세내역</h2>
	<table class="table" border="1">
		<thead>
			<tr align="center">
				<td>상품번호</td>
				<td>상품명</td>
				<td>상품가격</td>
				<td>구매수량</td>
			</tr>
		</thead>
		<tbody id="selectedProductDetails">
		</tbody>
	</table>
</div>
<script layout:fragment="script" th:inline="javascript">
	function cancel(){
		location.href='/product/index'
	}
	
	let sell_no = 0;
	let sell_date = '';
	let cusId = '';
	function selectRow(target){
		let tbody = target.parentNode;
	    let trs = tbody.getElementsByTagName('tr');
	    for (let i = 0; i < trs.length; i++ ) {
	        if ( trs[i] == target ) {
	            trs[i].style.backgroundColor = 'lightgray';
	            let td = trs[i].getElementsByTagName('td');
	            sell_no = td[0].innerText;
	            sell_date = td[4].innerText;
	            cusId = td[5].innerText;
	        } else {
	        	trs[i].removeAttribute('style');
	        }
	    }
	    
	    $.ajax({
			url:'sellProductDetails',
			type:'POST',
			data:{
				'sell_no':sell_no
				},
			success:function(result){
				$('#selectedProductDetails').children().remove();				
				result.forEach(function(detail){
					let child = `<tr>
					<td>`+detail.product_id+`</td>
					<td>`+detail.product_name+`</td>
					<td>`+detail.product_price+`</td>
					<td>`+detail.product_num+`</td>
					</tr>`;
					$('#selectedProductDetails').append(child);
				});
			}
		});
	}
	
	function cancelSell(){
		if(sell_no==0){
			alert('먼저 판매취소할 데이터를 선택해주세요.');
			return;
		}
		
		if (!confirm("영수번호["+sell_no+"]을 판매취소 하시겠습니까?")) {
            // 취소(아니오) 버튼 클릭 시 이벤트
            alert("취소하였습니다.")
        } else {
            // 확인(예) 버튼 클릭 시 이벤트
        	$.ajax({
				url:'sellProductDelete',
				type:'POST',
				contentType:'application/json',
				data:JSON.stringify({
					'sell_no':sell_no
					}),
				success:function(result){
					alert("판매취소가 완료되었습니다.")
					location.href="sellProductList";
				}
			});
        }
	}
	function modifySell(){
		if(sell_no==0){
			alert('먼저 판매수정할 데이터를 선택해주세요.');
			return;
		}
		
		if (!confirm("영수번호["+sell_no+"]을 판매수정 하시겠습니까?")) {
            // 취소(아니오) 버튼 클릭 시 이벤트
            alert("취소하였습니다.")
        } else {
        	location.href="sellProductModify?sell_no="+sell_no+"&sell_date="+sell_date+"&cusId="+cusId;
        }
	}
</script>
</html>